// custom.scss

.bg-custom-header {
    background-color: #F7F4F3;
    border-radius: 0.25rem;
}

.bg-custom-box {
    background-color: #F7F4F3;
    border-radius: 0.25rem;
}

.custom-container {
	padding: 15px;
}

.custom-link-h1 {
	text-decoration: underline;
	font-weight: bold;
	&:hover {
		color: #0056b3; // Choose a color for hover effect
	}
}

.custom-link {
	color: #007bff; // You can choose a color that matches your theme
	text-decoration: underline;
	font-weight: bold;
	&:hover {
		color: #0056b3; // Choose a color for hover effect
	}
}

.center-box {
	width: 60%; 
	margin: 0 auto; 
	text-align: left; 
	line-height: 2;
}

.strong-text {
	font-size: 1.3em; 
    margin-right: 15px;
	color: #27AFB9;
}

.color-1 {
	color: #FFA101; 
}
.color-2 {
	color: #27AFB9; 
}
.color-3 {
	color: #FFA101;
}



#notion-message {
	text-align: center; 
	margin-bottom: 20px; 
}

$primary:       #FFA101;
$secondary:     #83DEE5;
$success:       #315B66;
$info:          #FAE6B1;
$danger:        #A83D22;
$light:         #F7F4F3;
$gray: 			#E7DDDA;
$dark:          #D6C7C2;
$primary-border-subtle: #D6C7C2;


@import "../../node_modules/bootstrap/scss/bootstrap";